html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "IBM Plex Mono", monospace;

  background: linear-gradient(214deg, #8fffe2, #ff8fd8, #eeff8f);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

p {
  margin-left: .5rem;
  line-height: .1rem;
  font-style: italic;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  height: 90%;
  width: 100%;
}

.wrapper > * {
  padding: 0px;
  flex: 1 100%;
}

/* .test {
  border-style: solid;
  border-width: .5px;
  border-color: red;
} */

.small {
  display: flex;
  font-weight: bold;
  box-shadow: 6px 2px 13px white;
}

.small p {
  line-height: 0;
  font-style: italic;
}

.content:active{
  /* box-shadow: 1px 2px 10px black; */
  padding-right: 2rem;
  padding-left: 2rem;
  background: white;
  /* opacity: .5; */
  transform: scale(1.2);
}

.content {
  display: flex;
  font-size: 2rem;
  height: 14%;
  box-shadow: 1px 2px 3px white;
  transition: transform .2s;
}

.info {
  align-items: center;
  margin-left: auto;
  filter: alpha(opacity=50);
 /* background-color: white; */
 padding-right: 1rem;
}

.info p {
  font-style: normal;
}
/* @media screen and (min-width: 730px) {
} */

@-webkit-keyframes AnimationName {
  0%{background-position:28% 0%}
  50%{background-position:73% 100%}
  100%{background-position:28% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:28% 0%}
  50%{background-position:73% 100%}
  100%{background-position:28% 0%}
}
@keyframes AnimationName {
  0%{background-position:28% 0%}
  50%{background-position:73% 100%}
  100%{background-position:28% 0%}
}