body {
  font-family: sans-serif;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
  background-color: #f9fdf5;
  touch-action: none !important;
  font-family: "IBM Plex Mono", monospace;
}

canvas {
  width: calc(100% - 100px);
}

input {
  border-width: 5px;
  margin: 5px;
  margin-bottom: 25px;
}

button {
  align-self: center;
}

p {
  font-size: 12px;
  line-height: 1rem;
  text-align: center;
}

a {
  color: #64a999;
  font-style: italic;
}

/* .test {
  border-style: solid;
  border-width: .5px;
  border-color: red;
} */

#bottom{
  /* width: 100%; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

#app {
  margin-top: 25px;
  width: 100%;
  display: flex;
  align-items: center;
}
