html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "IBM Plex Mono", monospace;
}

p {
  font-style: italic;
  margin: 0;
}

svg {
  z-index: -1;
  position: absolute;
}

#time {
  font-weight: bold;
  z-index: 2;
}

#time p {
  z-index: 2;
  text-align: center;
  font-size: 6rem;
  margin-top: 8rem;
}

#date p {
  text-align: center;
  font-size: 1.5rem;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  height: 90%;
  width: 100%;
}

.wrapper > * {
  padding: 0px;
  flex: 1 100%;
}

/* .test {
  border-style: solid;
  border-width: .5px;
  border-color: red;
} */

.top-bar {
  display: flex;
  height: 5%;
}

.content {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  height: 90%;
  /* background-color: pink; */
}

.info {
  /* align-items: center; */
  margin-left: 1rem;
  width: 50%;
}

.bottom {
  display: flex;
  align-items: center;
}

button {
  /* background-color: transparent; */
  border: 0;
  /* color: #fefbef; */
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  /* line-height: 1; */
  margin: .5rem;
  padding: 1rem;
  width: 80%; /* Large, mobile-friendly touch target */
}

button:active {
  opacity: 0.7;
  transform: scale(1.025);
}