html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  font-family: sans-serif;
}

/* .test {
  border-width: 2px;
  border-color: crimson;
  border-style: dashed;
} */

#layer1 {
  position: relative;
  z-index: 0;
  /* background-color: #00ccff; */
  /* width: 100%;
  height: 100%; */
}

#layer2 {
  position: absolute;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 10%;
}
#layer3 {
  position: absolute;
  z-index: 2;
  /* background-color: #000000; */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 25%;
}

.rotating {
  -webkit-animation: rotating 12s linear infinite;
  -moz-animation: rotating 12s linear infinite;
  -ms-animation: rotating 12s linear infinite;
  -o-animation: rotating 12s linear infinite;
  animation: rotating 12s linear infinite;
}

#bottom {
  position: fixed;
  z-index: 4;
  margin-left: 12%;
  margin-right: 12%;
  bottom: 2%;
  width: 75%;
}

.gradientSpin {
  background: linear-gradient(360deg, #f6ce46, #ed6e7e, #aeeee1, #6ce294);
  background-size: 800% 800%;

  -webkit-animation: gradient-spin 30s ease infinite;
  -moz-animation: gradient-spin 30s ease infinite;
  animation: gradient-spin 30s ease infinite;
}

@-webkit-keyframes gradient-spin {
  0% {
    background-position: 4% 0%;
  }
  50% {
    background-position: 97% 100%;
  }
  100% {
    background-position: 4% 0%;
  }
}
@-moz-keyframes gradient-spin {
  0% {
    background-position: 4% 0%;
  }
  50% {
    background-position: 97% 100%;
  }
  100% {
    background-position: 4% 0%;
  }
}
@keyframes gradient-spin {
  0% {
    background-position: 4% 0%;
  }
  50% {
    background-position: 97% 100%;
  }
  100% {
    background-position: 4% 0%;
  }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* range */
html input[type="range"] {
  border-radius: 500px;
  width: 100%;
  max-width: 100%;
  /* margin: 10px; */
  transition: box-shadow 0.2s ease-in-out;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  html input[type="range"] {
    overflow: hidden;
    height: 15px;
    -webkit-appearance: none;
    background-color: #ddd;
  }

  html input[type="range"]::-webkit-slider-runnable-track {
    height: 20px;
    -webkit-appearance: none;
    color: #444;
    margin-top: -1px;
    transition: box-shadow 0.2s ease-in-out;
  }

  html input[type="range"]::-webkit-slider-thumb {
    width: 40px;
    -webkit-appearance: none;
    height: 40px;
    cursor: ew-resize;
    background: #fff;
    box-shadow: -1000px 0 0 990px #3a3a3a, inset 0 0 0 15px #3a3a3a;
    border-radius: 50%;
    transition: box-shadow 0.2s ease-in-out;
    position: relative;
    top: -10px;
    z-index: 4;
  }
}
/* html input[type="range"]::-moz-range-progress {
  background-color: #43e5f7;
}
html input[type="range"]::-moz-range-track {
  background-color: #9a905d;
}
html input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
}
html input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
} */
