html,
body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Karla", monospace;
  width: 100%;
  height: 100%;
}

img:hover {
  opacity: 0.8;
}

#menu {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  justify-content: space-around;
  padding-bottom: 2%;
}

#matter {
  width: 100%;
  height: 100%;
}

#credits {
  display: none;
  top: 30%;
  padding: 20px;
  position: fixed;
  z-index: 100;
  justify-content: center;
  background-color: #ffff;
  box-shadow: 5px 5px 0px 8px #c2d4dc;
  border-radius: 25px;
}

p {
  margin-left: 25px;
}

span {
  font-size: 12px;
}

/* .test {
  border-width: 2px;
  border-color: crimson;
  border-style: solid;
} */
